<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container text-center">
    <h3><p>Hey There!<br>
        I'm Sanaulla Haq from Dhaka Bangladesh<br>
        This is my First Django Project<br>
        Hope you will like it<br>
        Thank you!</p></h3>
    <a href="{% url 'home' %}" class="btn btn-primary"> Home </a>
</div>
